.address{
    background: url("../../assets/images/Address/bg.png") top left/100% 100% no-repeat;
    height: 912px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.address__title{
    font-size: 47px;
    color: #8AAFCC;
}
.address__text{
    letter-spacing: 0.3px;
    color: #ffffff;
    margin: 65px 0;
}
.address__map{

}
.address__images{
    position: relative;
}
.address__chair{


}
.address__hall{
    position: absolute;
    right: 70%;
    bottom: 7%;
}
.address__facade{
    position: absolute;
    right: -48%;
    bottom: -25%;
}


/*images*/

.address__icon-1{
    position: absolute;
    bottom: 24%;
    left: 10%;
}
.address__icon-2{
    position: absolute;
    top: 29%;
    left: 49%;
}
.address__icon-3{
    position: absolute;
    bottom: 10%;
    left: 46%;
}
.address__icon-4{
    position: absolute;
    right: 7%;
    top: 4%;
}
.address__line{
    position: absolute;
    left: 0;
    top: 16.5%;
}


/*images*/


@media screen and (max-width: 1200px) {
    .address{
        height: 1100px;
    }
    .address__line{
        top: 8%;
    }
    .address__icon-2{
        top: 20%;
    }
    .address__icon-3{
        bottom: 5%;
    }
    .address__facade {
        right: 14%;
        transform: translate(45%, 17%);
    }
    .address__icon-1{
        bottom: 7%;
    }
    .address__chair{
        width: 80%;
    }
    .address__hall{
        transform: translate(-11%, 53%);
    }
}

@media screen and (max-width: 576px) {

}
