.about {
    height: 1078px;
    background: url("../../assets/images/About/MainBack.png") top left/100% 100% no-repeat;
    position: relative;
    z-index: 1;
}

.about::before {
    content: '';
    z-index: -1;
    width: 879px;
    height: 879px;
    background-image: url("../../assets/images/About/Эллипс 5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-22%, -19%);
}

.about::after {
    content: '';
    z-index: -2;
    width: 849px;
    height: 849px;
    background-image: url("../../assets/images/About/Эллипс 4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -2%;
    bottom: -16%;
}

.about__block {
    display: flex;
    height: 1078px;
    color: #ffffff;
    padding-top: 260px;
    padding-bottom: 160px;
}

.about__title {
    font-size: 63px;
    margin-bottom: 20px;
}
.about__text{
    font-size: 20px;
    padding-right: 62%;
}
.about__title span, .about__text span:nth-child(odd), .about__text span:nth-child(even) {
    color: #FFC400;
}

.about__btn {
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: rgb(253, 182, 14);
    background: linear-gradient(90deg, rgba(253, 182, 14, 1) 0%, rgba(229, 37, 172, 1) 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 2px 0 #00000091;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin-top: 40px;
    transition: .6s;
}

.about__btn:hover {
    box-shadow: 0 0 20px 2px rgba(255,227,69,0.51);
    transition: .6s;
}

.about__mob-joystick {
    display: none;
}

.about__icon-1, .about__icon-2 {
   display: none;
}

.about__btn-top {
    position: absolute;
    right: 10px;
    top: -30px;
}

.about__btn-bottom {
    position: absolute;
    left: 10px;
    bottom: -30px;
}

.about__icons {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
}

.about__icon {
    list-style: none;
    margin-bottom: 30px;
}

.about__icon:last-child {
    margin-bottom: 0;
}

.about__telegram,
.about__instagram,
.about__facebook,
.about__whatsapp,
.about__tiktok{
    transition: .7s;
}
.about__telegram:hover,
.about__instagram:hover,
.about__facebook:hover,
.about__whatsapp:hover,
.about__tiktok:hover{
    transform: rotateZ(360deg);
    transition: .7s;
}

/*images*/
.about__joystick {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-14%, -32%);
    z-index: -1;
}

.about__images {
    display: flex;
    position: absolute;
    bottom: -3px;
    left: -55px;
    z-index: 0;
}
.about__gallery-block{
    width: 241px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.about__gallery-block-link:hover{
    z-index: 85;
    cursor: pointer;
}
.about__gallery-title{
    display: block;
    color: #ffffff;
}
.about__gallery-title span{
    color: #FFC400;
}
.about__img-1 {
    position: relative;
    top: -3px;
}

.about__img-2 {
    height: 204px;
    position: relative;
    top: 63px;
}

.about__img-3 {
    height: 248px;
    position: relative;
    top: 19px;
}

.about__left-circle {
    position: absolute;
    left: 3%;
    top: 0;
    z-index: -1;
}

.about__right-top-circle {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: -1;
}

.about__right-bottom-circle {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: -1;
}

.about__yellow-line {
    position: absolute;
    bottom: 0;
    z-index: -1;
}


/*images*/

@media screen and (max-width: 1920px) {
    .about::before{
        transform: translate(-22%, -19%);
    }
    .about::after{
        right: -2%;
        bottom: -16%;
    }
}



@media screen and (max-width: 1200px) {
    .about__joystick {
        width: 525px;
    }
}

