.about {
    height: 850px;
    background: url("../../assets/images/About/MainBack.png") top left/100% 100% no-repeat;
    position: relative;
    z-index: 1;
}

.about::before {
    content: '';
    z-index: -1;
    width: 600px;
    height: 600px;
    background-image: url("../../assets/images/About/Эллипс 5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-31%, -17%);
}

.about::after {
    content: '';
    z-index: -2;
    width: 600px;
    height: 600px;
    background-image: url("../../assets/images/About/Эллипс 4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    transform: translate(0%, -70%);

}

.about__block {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.about__title {
    font-size: 45px;
    letter-spacing: 1.8px;
    margin-bottom: 15px;
}

.about__title span, .about__text span:nth-child(odd), .about__text span:nth-child(even) {
    color: #FFC400;
}

.about__btn {
    width: 245px;
    text-align: center;
    padding: 20px 0;
    background: rgb(253, 182, 14);
    background: linear-gradient(90deg, rgba(253, 182, 14, 1) 0%, rgba(229, 37, 172, 1) 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin-top: 60px;
    transition: .6s;
}

.about__btn:hover {
    box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: .6s;
}

.about__btn-top {
    position: absolute;
    right: 10px;
    top: -30px;
}

.about__btn-bottom {
    position: absolute;
    left: 10px;
    bottom: -30px;
}

.about__icons {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
}

.about__icon {
    list-style: none;
    margin-bottom: 30px;
}

.about__icon:last-child {
    margin-bottom: 0;
}

/*images*/
.about__joystick {
    width: 700px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-10%, -50%);
    z-index: -1;
}

.about__images {
    position: absolute;
    bottom: -3px;
    left: -55px;
    z-index: -1;
}

.about__img-1 {
    width: 270px;
}

.about__img-2 {
    width: 220px;
}

.about__img-3 {
    width: 210px;
}

.about__left-circle {
    width: 50px;
    position: absolute;
    left: 20px;
    top: 0;
    z-index: -1;
}

.about__right-top-circle {
    width: 90px;
    position: absolute;
    right: -20px;
    top: 40px;

}

.about__right-bottom-circle {
    width: 175px;
    position: absolute;
    right: 0;
    bottom: 50px;
}

.about__yellow-line {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*images*/


@media screen and (max-width: 1200px) {
    .about__joystick {
        width: 525px;
    }
}

@media screen and (max-width: 992px) {
    .about__joystick {
        width: 335px;
        position: absolute;
        right: 5%;
        top: 58%;
    }
    .about__right-top-circle{
        top: 12px;
    }

    .about__img-1 {
        width: 230px;
    }

    .about__img-2 {
        width: 180px;
    }

    .about__img-3 {
        width: 170px;
    }

    .about::before {
        transform: translate(-35%, -50%);
    }

    .about::after {
        transform: translate(36%, -45%);
    }
}

@media screen and (max-width: 767px) {
    .about__block{
        height: 750px;
    }
    .about__joystick{
        width: 250px;
        right: 7%;
        top: 67%;
    }
    .about__right-bottom-circle{
        z-index: -1;
    }


}


@media screen and (max-width: 576px) {
    .about::before{
        width: 385px;
        height: 385px;
    }
    .about::after {
        transform: translate(60%, -30%);
    }
    .about__images{
        display: none;
    }
    .about__joystick {
        width: 220px;
        right: 26%;
        top: 82%;
    }
.about__title{
    font-size: 30px;
}
.about__text{
    font-size: 11px;
}
    .about__btn{
        font-size: 15px;
        width: 170px;
        padding: 14px 0;
    }
    .about__right-bottom-circle{
        right: -20%;
    }
}

