.program{
    background: url("../../assets/images/Program/bg.png") top left/100% 100% no-repeat;
    color: #ffffff;
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.program__title{
    font-size: 47px;
    color: #C4A39B;
    text-align: right;
    position: relative;
}
.program__title::after{
    content: '';
    background: url("../../assets/images/Program/right-line.png") no-repeat;
    width: 261px;
    height: 30px;
    position: absolute;
    right: -50%;
    top: 25px;
}
.program__subtitle{
    font-size: 20px;
    margin-bottom: 15px;
}
.program__block{
    display: flex;
    justify-content: flex-end;
}
.program__items{
    position: relative;
    width: 650px;
    height: 475px;
}
.program__right-item{
    text-align: right;
    position: absolute;
    right: 0;
}
.program__right-item-1{
    top: 55px;
}
.program__right-item-2{
    bottom: -15px;
}
.program__left-item{
    position: absolute;
    top: 50%;
    transform: translate(-37%, -30%);
}
.program__items-img{
    position: absolute;
    right: 19%;
    top: 60px;
}



/*images*/

.program__student{
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 12%;
}

.program__net{
    position: absolute;
    z-index: -2;
    bottom: -20%;
    left: 0;
}
.program__ellipse-1{
    position: absolute;
    z-index: -1;
    top: -38%;
    left: -7%;
}
.program__ellipse-2{
    position: absolute;
    z-index: -1;
    bottom: -34%;
    right: -12%;
}
.program__icon-1{
    position: absolute;
    left: 4%;
    bottom: 8%;
}
.program__icon-2{
    position: absolute;
    top: 15%;
    left: 33%;
}
.program__icon-3{
    position: absolute;
    top: 43%;
    left: 36%;
}
.program__icon-4{
    position: absolute;
    bottom: 5%;
    left: 42%;
}
.program__icon-5{
    position: absolute;
    right: 4%;
    top: 39%;
}
.program__left-line{
    position: absolute;
    left: 0;
    top: 5%;
}
.program__right-line{
    position: absolute;
    right: 0;
    top: 22.5%;
}
.program__container{
    display: none;
}

/*images*/


@media screen and (max-width: 1200px) {
    .program__student{
        width: 255px;
    }
}



@media screen and (max-width: 576px) {
    .program{
        padding-top: 70px;
        align-items: flex-start;
    }
    .program__title{
        font-size: 25px;
    }

    .program__icon-1{
        width: 25px;
    }
    .program__icon-3 {
        top: 30%;
    }
    .program__icon-2{
        width: 40px;
    }
    .program__icon-5{
        width: 40px;
        top: 46%;
    }
    .program__right-line{
        width: 180px;
        top: 15%;
    }
    .program__left-line{
        width: 60px;
        top: 50%;
    }
    .program__ellipse-1 {
        left: -75%;
    }
    .program__text{
        font-size: 12px;
    }
    .program__left-item {
        top: 40%;
        transform: translate(15%, -30%);
    }
    .program__subtitle-2{
        text-align: center;
        padding-left: 105px;
    }
    .program__right-item-1 {
        top: 30px;
    }
    .program__right-item-2 {
        bottom: 16%;
    }
    .program__ellipse-2 {
        right: -95%;
    }

}

