.contact {
    padding: 60px 0;
    background: url("../../assets/images/Address/bg.png") top left/100% 100% no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contact__title {
    font-size: 40px;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 40px;
}

.contact__block {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact__form {
    width: 468px;
    height: 685px;
    background: url("../../assets/images/Contact/form.png") top left/100% 100% no-repeat;
    padding: 65px;
}

.contact__subtitle {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #dcdcdc;
    margin-bottom: 50px;

}

.contact__item {
    margin-bottom: 50px;
    position: relative;
}

.contact__input {
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 20px 14px;
}

.contact__bottom-line {
    width: 100%;
    position: absolute;
    left: 0;
    top: 33px;
}

.contact__btn {
    width: 245px;
    text-align: center;
    padding: 20px 0;
    background: rgb(253, 182, 14);
    background: linear-gradient(90deg, rgba(253, 182, 14, 1) 0%, rgba(229, 37, 172, 1) 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 3px black;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .6s;
}

.contact__btn:hover {
    box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: .6s;
}

.contact__btn-top {
    position: absolute;
    right: 10px;
    top: -30px;
}

.contact__btn-bottom {
    position: absolute;
    left: 10px;
    bottom: -30px;
}

.contact__error{
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 35px;
    left: 14px;
}


/*images*/

.contact__joystick-1 {
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.contact__joystick-2 {
    width: 400px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact__icon-1 {
    position: absolute;
    left: 15%;
    top: 16%;
}

.contact__icon-2 {
    position: absolute;
    right: 8%;
    top: 19%;
}

.contact__icon-3 {
    position: absolute;
    left: 26%;
    bottom: 3%;
}

.contact__icon-4 {
    position: absolute;
    right: 27%;
    bottom: 20%;
}

.contact__icon-5 {
    position: absolute;
    right: 1%;
    bottom: 3%;
}

.contact__ellipse-1 {
    width: 600px;
    position: absolute;
    left: -16%;
    top: -15%;
}

.contact__ellipse-2 {
    width: 600px;
    position: absolute;
    right: -19%;
    top: 32%;
}

.contact__left-circle {
    position: absolute;
    right: -17%;
    top: 8%;
}

.contact__right-circle {
    position: absolute;
    left: -17%;
    top: 8%;
}

.contact__gradient {
    position: absolute;
    bottom: -2%;
    right: 10%;
}


/*images*/

@media screen and (max-width: 1200px) {
    .contact__form {
        z-index: 1;
    }

    .contact__icon-3 {
        bottom: 0;
    }

    .contact__icon-4 {
        right: 20%;
        bottom: 31%;
    }

    .contact__joystick-1, .contact__joystick-2 {
        width: 300px;
    }
}

@media screen and (max-width: 992px) {
    .contact__left-circle {
        right: -66%;
    }

    .contact__right-circle {
        left: -66%;
    }

    .contact__joystick-1 {
        width: 200px;
        right: -20px;
    }

    .contact__joystick-2 {
        width: 200px;
        left: -20px;
    }
    .contact__icon-5{
        bottom: 0;
    }

}


@media screen and (max-width: 767px) {
    .contact__left-circle {
        top: 17%;
    }

    .contact__right-circle {
        top: 3%;
    }
    .contact__joystick-1,  .contact__joystick-2 {
        width: 200px;
        z-index: 2;
        bottom: -12px;
    }
    .contact__icon-1, .contact__icon-2, .contact__icon-3, .contact__icon-5{
        width: 30px;
    }
    .contact__ellipse-1{
        width: 450px;
    }


}


@media screen and (max-width: 576px) {
    .contact__title{
        font-size: 23px;
    }
    .contact__subtitle {
        font-size: 20px;
    }
    .contact__form {
        width: 325px;
        height: 600px;
        padding: 51px;
    }
    .contact__btn{
        width: 190px;
        font-size: 14px;
        padding: 14px 0;
        margin-top: 0;
    }
    .contact__left-circle {
        top: 15%;
    }
    .contact__icon-1{
        top: 0;
    }
    .contact__joystick-1, .contact__joystick-2 {
        width: 130px;
        bottom: 45px;
    }
}

