.contact {
    height: 1060px;
    padding: 70px 0;
    background: url("../../assets/images/Contact/MainBack.png") top left/100% 100% no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.container__contact{
    /*margin-top: 85px;*/
}

.contact__title {
    font-size: 47px;
    padding: 0 29%;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 40px;
}

.contact__block {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact__form {
    width: 445px;
    height: 662px;
    background: url("../../assets/images/Contact/form.png") top left/100% 100% no-repeat;
    padding: 56px 60px;
}

.contact__subtitle {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #dcdcdc;
    margin-bottom: 50px;

}

.contact__item {
    margin-bottom: 60px;
    position: relative;
}

.contact__input {
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 20px 14px;
}
.contact__input::placeholder{
    font-size: 18px;
}
.contact__or{
    text-align: center;
    color: #ffffff;
    margin-bottom: 35px;
}
.contact__bottom-line {
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
}

.contact__btn {
    width: 245px;
    text-align: center;
    padding: 20px 0;
    background: rgb(253, 182, 14);
    background: linear-gradient(90deg, rgba(253, 182, 14, 1) 0%, rgba(229, 37, 172, 1) 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 2px 0 #00000091;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    margin-top: 50px;
    transition: .6s;
}

.contact__btn:hover {
    box-shadow: 2px 5px 16px 0 #fdb60f85, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: .6s;
}

.contact__btn-top {
    position: absolute;
    right: 10px;
    top: -30px;
}

.contact__btn-bottom {
    position: absolute;
    left: 10px;
    bottom: -30px;
}


.footer__logo{
    width: 50%;
}
.footer__item{
    margin-top: 110px;
}
.footer__item-2 {
    text-align: center;
}

.footer__tel {
    color: #ffffff;
    transition: .4s;
}

.footer__tel:hover {
    color: #FFC400;
    transition: .4s;
}

.footer__email {
    color: #ffffff;
    transition: .4s;
}

.footer__email:hover {
    color: #FFC400;
    transition: .4s;
}

.footer__icons {
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
}

.footer__icon {
    list-style: none;
}

.footer__telegram,
.footer__instagram,
.footer__facebook,
.footer__whatsapp,
.footer__tiktok {
    width: 80%;
    transition: .7s;
}

.footer__telegram:hover,
.footer__instagram:hover,
.footer__facebook:hover,
.footer__whatsapp:hover,
.footer__tiktok:hover {
    transform: rotateZ(360deg);
    transition: .7s;
}



/*images*/

.contact__joystick-1 {
    position: absolute;
    right: 10px;
    bottom: 6%;
}

.contact__joystick-2 {
    position: absolute;
    left: 10px;
    bottom: 6%;
}

.contact__icon-1 {
    position: absolute;
    left: 22%;
    top: 19%;
}

.contact__icon-2 {
    position: absolute;
    right: 11%;
    top: 19%;
}

.contact__icon-3 {
    position: absolute;
    left: 32%;
    bottom: 12%;
}

.contact__icon-4 {
    position: absolute;
    right: 31%;
    bottom: 30%;
}

.contact__icon-5 {
    position: absolute;
    right: 1%;
    bottom: 12%;
}

.contact__ellipse-1 {
    z-index: -5;
    position: absolute;
    left: -9%;
    top: -19%;
}

.contact__ellipse-2 {
    z-index: -5;
    position: absolute;
    right: -19%;
    top: 20%;
}

.contact__left-circle {
    position: absolute;
    right: 0;
    top: 8.5%;
}

.contact__right-circle {
    position: absolute;
    left: 0;
    top: 8.5%;
}

.contact__gradient {
    position: absolute;
    bottom: -2%;
    right: 10%;
}

.contact__red-circle{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/*images*/

@media screen and (max-width: 1200px) {
    .contact__form {
        z-index: 1;
    }

    .contact__icon-3 {
        bottom: 0;
    }

    .contact__icon-4 {
        right: 20%;
        bottom: 31%;
    }

    .contact__joystick-1, .contact__joystick-2 {
        width: 300px;
    }
    .footer {
        font-size: 14px;
    }

    .footer__icons {
        column-gap: 30px;
    }
}

@media screen and (max-width: 992px) {
    .contact__left-circle {
        right: -66%;
    }

    .contact__right-circle {
        left: -66%;
    }

    .contact__joystick-1 {
        width: 200px;
        right: -20px;
    }

    .contact__joystick-2 {
        width: 200px;
        left: -20px;
    }
    .contact__icon-5{
        bottom: 0;
    }

}

@media screen and (max-width: 767px) {
    .contact__left-circle {
        top: 17%;
    }

    .contact__right-circle {
        top: 3%;
    }
    .contact__joystick-1,  .contact__joystick-2 {
        width: 200px;
        z-index: 2;
        bottom: -12px;
    }
    .contact__icon-1, .contact__icon-2, .contact__icon-3, .contact__icon-5{
        width: 30px;
    }
    .contact__ellipse-1{
        width: 450px;
    }


}

@media screen and (max-width: 576px) {

}











