.reason {
    background: url("../../assets/images/Reason/bg.png") top left/100% 100% no-repeat;
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.reason__title {
    font-size: 47px;
    line-height: 53px;
    color: #D4B0BA;
    margin-bottom: 60px;
}

.reason__title span {
    color: #FFC400;
}

.reason__text {
    padding-top: 20px;
    font-size: 16px;
}

.reason__subtitle {
    font-size: 20px;
}

.reason__subtitle-item {
    display: flex;
}

.reason__row {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 900px;

}

.reason__left-block {
    width: 40%;
}

.reason__right-block {
    width: 60%;
    margin-bottom: 50px;
}

.reason__circle {
    width: 56px;
    height: 56px;
    border: 5px solid #866806;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reason__lines {
    position: relative;
}

.reason__lines::before {
    content: '';
    width: 5px;
    height: 143px;
    background-color: #866806;
    position: absolute;
    top: -146px;
}

.reason__lines::after {
    content: '';
    width: 5px;
    height: 126px;
    background-color: #866806;
    position: absolute;
    bottom: -129px;
}

.reason__subtitle {
    display: flex;
    align-items: center;
    padding: 0 25px;
}


/*images*/
.reason__box {
    position: absolute;
    right: 8%;
    bottom: 1%;
    z-index: -1;
}

.reason__ellipse-1 {
    position: absolute;
    z-index: -1;
    left: -11%;
    bottom: -25%;
}

.reason__ellipse-2 {
    position: absolute;
    z-index: -1;
    top: -19%;
    right: 25%;
}

.reason__icon-1 {
    position: absolute;
    top: 4%;
    right: 43%;
}

.reason__icon-2 {
    position: absolute;
    left: 5%;
    bottom: 9%;
}

.reason__icon-3 {
    position: absolute;
    right: 5%;
    bottom: 4%;
}

.reason__vertical-line-1 {
    position: absolute;
    left: 10%;
    top: 10%;
}

.reason__vertical-line-2 {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.reason__horizontal-line {
    position: absolute;
    left: 10px;
    top: 15%;
}

.reason__container {
    display: none;
}

/*images*/













