.result{
    background: url("../../assets/images/Result/bg.png") top left/100% 100% no-repeat;
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 50px;
}
.result__title{
    font-size: 47px;
    text-align: center;
    color: #8AA1B8;

}
.result__logo{
    text-align: center;
    margin: 10px 0 60px;
}
.result__content{
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.result__row{
    width: 635px;
    display: flex;
    flex-wrap: wrap;
}
.result__col{
    width: 50%;
    padding: 0 15px;
}
.result__item{
    margin-bottom: 65px;
}
.result__subtitle{
    font-size: 22px;
    text-align: right;
    padding-right: 15px;
}
.result__text{
    padding-top: 7px;
    padding-left: 15px;
}

/*images*/

.result__center-line{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 22%);
}
.result__left-line{
    position: absolute;
    top: 0;
    left: 24%;
}
.result__right-line{
    position: absolute;
    top: 0;
    left: 36%;
}
.result__ellipse-1{
    position: absolute;
    left: -4%;
    bottom: -17%;
    z-index: -1;
}
.result__ellipse-2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -23%);
    z-index: -1;
}
.result__ellipse-3{
    position: absolute;
    right: -4%;
    bottom: -17%;
    z-index: -1;
}
.result__joystick{
    position: absolute;
    left: 20px;
    bottom: -20px;
}
.result__trophy{
    position: absolute;
    right: 4%;
    bottom: 5px;
}
.result__icon-1{
    position: absolute;
    left: 4%;
    top: 22%;
}
.result__icon-2{
    position: absolute;
    right: 28%;
    top: 7%;
}
.result__icon-3{
     position: absolute;
    right: 3%;
    top: 19%;
}
.result__icon-4{
    position: absolute;
    right: 36%;
    bottom: 9%;
}


/*images*/

