.suitable {
    background: url("../../assets/images/Suitable/Back.png") top left/100% 100% no-repeat;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.suitable__item {
    display: flex;
    align-items: center;
}

.suitable__title {
    font-size: 47px;
    text-align: right;
    color: #c1ae8a;
    margin: 80px 0 60px;
    padding-right: 12px;
    position: relative;
}
.suitable__title::after{
    content: '';
    background: url("../../assets/images/Suitable/right-top-circle.png") no-repeat;
    width: 171px;
    height: 52px;
    position: absolute;
    right: -50%;
    top: 20px;
}
.suitable__text{
    font-size: 20px;
}

.suitable__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #eaeaea;
    text-align: right;
    margin-bottom: 20px;
}

.suitable__text {
    margin-right: 20px;
}

/*images*/
.suitable__emoji {
    position: absolute;
    top: 25%;
    left: 11%
}
.suitable__left-circle{
    position: absolute;
    left: 50px;
    top: 0;
}
.suitable__right-top-circle{
    position: absolute;
    right: 0;
    top: 32%;

}
.suitable__right-bottom-circle{
    position: absolute;
    right: 0;
    bottom: 7%;

}
.suitable__icon-1{
    position: absolute;
    top: 18%;
    left: 14%;
}
.suitable__icon-2{
    position: absolute;
    top: 15%;
    left: 52%;
}
.suitable__icon-3{
    position: absolute;
    top: 0;
    right: 5%;
}
.suitable__icon-4{
    position: absolute;
    bottom: 9%;
    left: 4%;
}
.suitable__icon-5{
    position: absolute;
    bottom: 5%;
    left: 40%;
}
.suitable__icon-6{
    position: absolute;
    bottom: 5%;
    right: 36%;
}
.suitable__ellipse{
    z-index: -1;
    position: absolute;
    left: -20%;
    bottom: -115%;
}
/*images*/









